# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the csv exported in Part I to a DataFrame
weather_csv = "../output_data/cities.csv"
weather_df = pd.read_csv(weather_csv)
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Kruisfontein,-34.0033,24.7314,60.01,86,0,7.02,ZA,1620761238
1,Hermanus,-34.4187,19.2345,57.99,84,0,4.00,ZA,1620761238
2,Chui,-33.6971,-53.4616,61.12,52,9,10.78,UY,1620761238
3,Sioux Lookout,50.1001,-91.9170,55.40,30,20,3.44,CA,1620761239
4,Fort Nelson,58.8053,-122.7002,57.20,44,40,4.61,CA,1620761239
...,...,...,...,...,...,...,...,...,...
496,Burgeo,47.6167,-57.6152,45.00,71,39,13.38,CA,1620761375
497,Luorong,24.4058,109.6086,75.88,90,69,1.32,CN,1620761376
498,Goundi,9.3627,17.3660,89.17,41,58,2.01,TD,1620761376
499,Grindavik,63.8424,-22.4338,41.00,60,20,8.05,IS,1620761376
500,Westport,41.1415,-73.3579,64.99,35,100,10.29,US,1620761377

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Pull gmaps
gmaps.configure(api_key=g_key)

In [4]:
# set up cities latatude and longetude as locations and humidity as weight
cities = weather_df[['Lat', 'Lng']]
humidity = weather_df['Humidity']
humidity.max()

100

In [5]:
# set up heatmap then heatlayer to add over map
humidity_fig = gmaps.figure(center = (20, 10), zoom_level = 2)

humidity_heat_layer = gmaps.heatmap_layer(cities, weights = humidity, dissipating = False, max_intensity = 100, point_radius = 4)

# Print and Save heat map
humidity_fig.add_layer(humidity_heat_layer)
plt.savefig('../output_data/humidity_heatmap')
humidity_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Create ideal weatther conditions Data Frame
high_temp = weather_df['Max Temp'] < 80
low_temp = weather_df['Max Temp'] > 70
wind = weather_df['Wind Speed'] < 10
clouds = weather_df['Cloudiness'] == 0

ideal_weather_df = weather_df.loc[(high_temp) & (low_temp) & (wind) & (clouds)]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
155,Kiryat Gat,31.6100,34.7642,73.00,62,0,5.64,IL,1620761100
196,Baharly,38.4362,57.4316,77.56,45,0,5.44,TM,1620761293
233,Buin,-33.7333,-70.7500,75.20,20,0,2.30,CL,1620761042
331,SÃ£o Filipe,14.8961,-24.4956,76.68,66,0,7.36,CV,1620761330
335,VitÃ³ria da Conquista,-14.8661,-40.8394,73.47,41,0,7.07,BR,1620761235
429,Noumea,-22.2763,166.4572,78.01,83,0,9.82,NC,1620761357
434,Gaza,31.5000,34.4667,73.00,60,0,3.44,PS,1620761268

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create Data Frame for Hotels nearby ideal weather locations
hotel_df = ideal_weather_df.copy()
hotel_df['Hotel Name'] = ''
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
155,Kiryat Gat,31.6100,34.7642,73.00,62,0,5.64,IL,1620761100,
196,Baharly,38.4362,57.4316,77.56,45,0,5.44,TM,1620761293,
233,Buin,-33.7333,-70.7500,75.20,20,0,2.30,CL,1620761042,
331,SÃ£o Filipe,14.8961,-24.4956,76.68,66,0,7.36,CV,1620761330,
335,VitÃ³ria da Conquista,-14.8661,-40.8394,73.47,41,0,7.07,BR,1620761235,
429,Noumea,-22.2763,166.4572,78.01,83,0,9.82,NC,1620761357,
434,Gaza,31.5000,34.4667,73.00,60,0,3.44,PS,1620761268,

In [8]:
# Create Url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Geocoordinates
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# Create parameters
params= {
    "keyword" : target_search,
    "radius" : target_radius,
    "type" : target_type,
    "key" : g_key
}

In [9]:
# Use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # Get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    
    # Add keyword to params dict
    params['location'] = f"{latitude},{longitude}"
    
    # Assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # Extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {city} is: {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Closest hotel in Kiryat Gat is: Desert Gat.
------------
Missing field/result... skipping.
------------
Closest hotel in Buin is: Paihuen.
------------
Closest hotel in SÃ£o Filipe is: Hotel Xaguate.
------------
Closest hotel in VitÃ³ria da Conquista is: ibis Vitoria da Conquista.
------------
Closest hotel in Noumea is: Hilton Noumea La Promenade Residences.
------------
Missing field/result... skipping.
------------

In [10]:
# Final Data Frame
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
155,Kiryat Gat,31.6100,34.7642,73.00,62,0,5.64,IL,1620761100,Desert Gat
196,Baharly,38.4362,57.4316,77.56,45,0,5.44,TM,1620761293,
233,Buin,-33.7333,-70.7500,75.20,20,0,2.30,CL,1620761042,Paihuen
331,SÃ£o Filipe,14.8961,-24.4956,76.68,66,0,7.36,CV,1620761330,Hotel Xaguate
335,VitÃ³ria da Conquista,-14.8661,-40.8394,73.47,41,0,7.07,BR,1620761235,ibis Vitoria da Conquista
429,Noumea,-22.2763,166.4572,78.01,83,0,9.82,NC,1620761357,Hilton Noumea La Promenade Residences
434,Gaza,31.5000,34.4667,73.00,60,0,3.44,PS,1620761268,

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
hotel_markers = gmaps.marker_layer(locations,  info_box_content = hotel_info)

# Display figure
humidity_fig.add_layer(hotel_markers)
plt.savefig('../output_data/hotel_markers')
humidity_fig

Figure(layout=FigureLayout(height='420px'))